/**************** Mixin ********************/
header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  z-index: 9;
  padding: 20px 0;
}
@media (max-width: 767px) {
  header {
    padding: 15px 0;
  }
}
header .logo_link {
  max-width: 250px;
}
header .col-4 {
  flex: 0 0 250px;
  max-width: 250px;
}
@media (max-width: 640px) {
  header .col-4 {
    flex: 0 0 200px;
    max-width: 200px;
  }
}
header .col-8 {
  flex: 0 0 calc(100% - 250px);
  max-width: calc(100% - 250px);
}
@media (max-width: 640px) {
  header .col-8 {
    flex: 0 0 calc(100% - 200px);
    max-width: calc(100% - 200px);
  }
}
header .custom_menu .nav_btn {
  display: none;
  background-image: url("../image/navbar-icon.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}
@media (max-width: 991px) {
  header .custom_menu .nav_btn {
    display: flex;
    padding: 0;
    border: none;
    outline: none;
    height: 30px;
    width: 40px;
  }
}
header .custom_menu .nav_close_btn {
  position: fixed;
  top: -100px;
  right: -100px;
  display: flex;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  visibility: hidden;
  opacity: 0;
  height: 30px;
  width: 30px;
  background-image: url("../image/navbar-close-icon.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 991px) {
  header .custom_menu.menu_open .nav_close_btn {
    right: 30px;
    top: 30px;
    visibility: visible;
    opacity: 1;
    z-index: 999;
    transition: 1s ease-in-out;
  }
}
header .custom_menu.menu_open .nav_btn {
  display: none;
}
header .custom_menu ul.nav li .nav-link {
  font-size: 16px;
  color: #ffffff;
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px 30px;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
header .custom_menu ul.nav li .nav-link:hover {
  color: #ffffff;
  border-color: #ffffff;
}
@media (max-width: 991px) {
  header .custom_menu ul.nav li .nav-link {
    font-size: 14 px;
    margin-left: 0;
    margin-bottom: 15px;
  }
}
header .custom_menu ul.nav li:last-child .nav-link {
  margin-left: 20px;
  background-color: #ffffff;
  color: #000000;
}
header .custom_menu ul.nav li:last-child .nav-link:hover {
  color: #ffffff;
  background-color: transparent;
}
@media (max-width: 991px) {
  header .custom_menu ul.nav li:last-child {
    margin-left: 0;
    margin-top: 10px;
  }
}
@media (max-width: 991px) {
  header .custom_menu ul.nav li {
    display: flex;
    flex: 0 0 100%;
    height: auto;
  }
}
@media (max-width: 991px) {
  header .custom_menu ul.nav {
    max-width: 0;
    visibility: hidden;
    opacity: 0;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    position: fixed;
    top: 0;
    right: 0;
    height: 0;
    margin: auto;
    background-color: #222f33;
    align-items: flex-start;
    align-content: flex-start;
    padding: 70px 30px 30px;
    transition: 0.5s ease-in-out;
  }
}
@media (max-width: 991px) {
  header .custom_menu.menu_open ul.nav {
    max-width: 100%;
    visibility: visible;
    opacity: 1;
    bottom: auto;
    height: 100%;
    border-radius: 0px;
  }
}

footer {
  padding: 30px 0;
  background-color: #222f33;
}
@media (max-width: 1200px) {
  footer {
    padding: 20px 0;
  }
}
@media (max-width: 991px) {
  footer {
    padding: 15px 0;
  }
}
@media (max-width: 767px) {
  footer {
    text-align: center;
  }
}
footer .col-md-4 {
  text-align: center;
}
footer .widget {
  margin: 0;
}
footer .widget_media_image {
  text-align: center;
}
footer .widget_media_image img {
  max-width: 250px !important;
}
@media (max-width: 991px) {
  footer .widget_media_image img {
    max-width: 200px !important;
  }
}
@media (max-width: 991px) {
  footer .widget_media_image img {
    margin: 15px auto;
  }
}
footer a {
  text-decoration: none;
  font-weight: 600;
  color: #c7c7c7 !important;
  font-size: 18px;
}
@media (max-width: 12px) {
  footer a {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  footer a {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  footer a {
    font-size: 14px;
  }
}
footer ul {
  display: flex;
  justify-content: flex-end;
}
footer ul li {
  margin-left: 30px;
}
@media (max-width: 767px) {
  footer ul li {
    margin: 0 15px;
  }
}
@media (max-width: 767px) {
  footer ul {
    padding: 0;
    justify-content: center;
  }
}
footer .row {
  align-items: center;
}

.banner_section {
  height: 100vh;
  position: relative;
}
.banner_section .video_overley {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  height: 100vh;
}
.banner_section .video_overley:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background-color: #000000;
  opacity: 0.4;
  z-index: 1;
}
.banner_section .video_overley:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 21%;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-shadow: 0px 0px 55px 40px #333333;
  background-color: #333333;
  z-index: 2;
  opacity: 0.95;
}
@media (max-width: 1200px) {
  .banner_section .video_overley:after {
    width: 15%;
    box-shadow: 0px 0px 45px 30px #333333;
  }
}
@media (max-width: 991px) {
  .banner_section .video_overley:after {
    width: 10%;
  }
}
@media (max-width: 768px) {
  .banner_section .video_overley:after {
    width: 5%;
  }
}
.banner_section .video_overley video {
  width: 100%;
  height: auto;
}
@media (max-width: 640px) {
  .banner_section .video_overley video {
    height: 100vh;
    width: 100vh;
  }
}
.banner_section .banner_txt {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.banner_section .banner_txt h2 {
  font-size: 36px;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .banner_section .banner_txt h2 {
    font-size: 32px;
  }
}
@media (max-width: 991px) {
  .banner_section .banner_txt h2 {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .banner_section .banner_txt h2 {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .banner_section .banner_txt h2 {
    padding-right: 50px;
    font-size: 24px;
  }
}
@media (max-width: 640px) {
  .banner_section .banner_txt h2 {
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .banner_section .banner_txt h2 {
    font-size: 20px;
  }
}
.banner_section .banner_txt h4 {
  font-size: 18px;
  color: #ffffff;
  padding-bottom: 15px;
}
@media (max-width: 991px) {
  .banner_section .banner_txt h4 {
    font-size: 16px;
  }
}
@media (max-width: 479px) {
  .banner_section .banner_txt h4 {
    font-size: 14px;
  }
}
.banner_section .icon-play {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  padding-left: 60px;
  line-height: 50px;
  background-image: url("../image/play-icon.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 45px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .banner_section .icon-play {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .banner_section .col-md-6.text-center {
    text-align: left !important;
  }
}
.banner_section .social_share {
  position: absolute;
  right: -155px;
  top: 50%;
  z-index: 999;
  transform: rotate(90deg);
  padding: 0;
}
@media (max-width: 991px) {
  .banner_section .social_share {
    right: -125px;
  }
}
.banner_section .social_share ul {
  display: flex;
  max-width: 400px;
  padding: 0;
}
.banner_section .social_share ul li a {
  font-size: 16px;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 0 5px;
  border: 1px solid transparent;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.banner_section .social_share ul li a:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
}
@media (max-width: 991px) {
  .banner_section .social_share ul li a {
    font-size: 14px;
    margin-left: 0;
    margin-bottom: 15px;
    padding: 10px 15px;
  }
}

ul, ol {
  margin: 0;
}
ul li, ol li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, label, span, a {
  line-height: normal;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow-x: hidden;
}
body .container {
  max-width: 1200px;
}

.post, .page {
  margin: 0;
}

.sec_title {
  color: #222f33;
  font-size: 34px;
  padding-bottom: 15px;
}
.sec_title.white_title {
  color: #ffffff;
}
@media (max-width: 1200px) {
  .sec_title {
    font-size: 30px;
  }
}
@media (max-width: 991px) {
  .sec_title {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .sec_title {
    font-size: 26px;
  }
}

.text_content p {
  font-size: 20px;
  line-height: 34px;
  color: #222f33;
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  .text_content p {
    font-size: 16px;
    line-height: 28px;
  }
}
@media (max-width: 767px) {
  .text_content p {
    font-size: 14px;
    line-height: 22px;
  }
}
.text_content.white_title p {
  color: #ffffff;
}
.text_content.grey_txt p {
  font-size: 18px;
  line-height: 32px;
  color: #777777;
}
@media (max-width: 991px) {
  .text_content.grey_txt p {
    font-size: 16px;
    line-height: 28px;
  }
}
@media (max-width: 767px) {
  .text_content.grey_txt p {
    font-size: 14px;
    line-height: 22px;
  }
}

.sec_padding {
  padding: 60px 0;
}
@media (max-width: 1200px) {
  .sec_padding {
    padding: 50px 0;
  }
}
@media (max-width: 991px) {
  .sec_padding {
    padding: 40px 0;
  }
}
@media (max-width: 767px) {
  .sec_padding {
    padding: 30px 0;
  }
}

.theme_bg {
  background-color: #222f33;
}

a.coman_btn {
  border-radius: 5px;
  border: 1px solid #000;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #222f33;
  padding: 15px 30px;
  margin-top: 30px;
  display: flex;
  width: fit-content;
  transition: 0.3s ease-in-out;
}
a.coman_btn:hover {
  background-color: #222f33;
  color: #ffffff;
}
@media (max-width: 767px) {
  a.coman_btn {
    font-size: 14px;
    padding: 12px 30px;
    margin-top: 20px;
  }
}

.dur_material {
  position: relative;
  z-index: 1;
}
.dur_material .about_img {
  height: calc(100% + 100px);
  margin-top: -150px;
}
.dur_material .about_img:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: auto;
  right: 0;
  bottom: 0;
  width: 35%;
  height: 200px;
  background-color: #222f33;
  z-index: -1;
}
@media (max-width: 1200px) {
  .dur_material .about_img:before {
    height: 150px;
  }
}
@media (max-width: 767px) {
  .dur_material .about_img:before {
    display: none;
  }
}
.dur_material .about_img img {
  max-width: 450px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .dur_material .about_img img {
    max-width: 400px;
  }
}
@media (max-width: 767px) {
  .dur_material .about_img img {
    margin: 0 auto 30px;
    height: auto;
  }
}
@media (max-width: 1200px) {
  .dur_material .about_img {
    margin-top: -100px;
    height: calc(100% + 50px);
  }
}
@media (max-width: 7680px) {
  .dur_material .about_img {
    margin-top: 0;
    height: 100%;
  }
}
.dur_material .text_content {
  padding-right: 100px;
}
@media (max-width: 991px) {
  .dur_material .text_content {
    padding-right: 50px;
  }
}
@media (max-width: 767px) {
  .dur_material .text_content {
    padding-right: 0px;
  }
}
@media (max-width: 767px) {
  .dur_material .col-md-6.order-2 {
    order: 1 !important;
  }
  .dur_material .col-md-6.order-1 {
    order: 2 !important;
  }
}

.how_it_work_sec .how_box {
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .how_it_work_sec .how_box {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .how_it_work_sec .how_box {
    margin-bottom: 15px;
  }
}
.how_it_work_sec .sec_title {
  padding-bottom: 10px;
  font-size: 28px;
}
@media (max-width: 1200px) {
  .how_it_work_sec .sec_title {
    font-size: 24px;
    padding-bottom: 5px;
  }
}
@media (max-width: 991px) {
  .how_it_work_sec .sec_title {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .how_it_work_sec .sec_title {
    font-size: 20px;
  }
}
@media (max-width: 640px) {
  .how_it_work_sec .sec_title {
    font-size: 18px;
  }
}
.how_it_work_sec .how_img {
  padding-right: 100px;
  height: 100%;
}
.how_it_work_sec .how_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) {
  .how_it_work_sec .how_img img {
    max-width: 60%;
    display: block;
    height: auto;
    margin: 0 auto 30px;
  }
}
@media (max-width: 640px) {
  .how_it_work_sec .how_img img {
    max-width: 75%;
  }
}
@media (max-width: 567px) {
  .how_it_work_sec .how_img img {
    max-width: 80%;
  }
}
@media (max-width: 479px) {
  .how_it_work_sec .how_img img {
    max-width: 100%;
  }
}
@media (max-width: 1200px) {
  .how_it_work_sec .how_img {
    padding-right: 50px;
  }
}
@media (max-width: 991px) {
  .how_it_work_sec .how_img {
    padding-right: 0px;
  }
}
.how_it_work_sec .col-md-6.sub_col {
  flex: 0 0 50%;
  max-width: 50%;
}
@media (max-width: 479px) {
  .how_it_work_sec .col-md-6.sub_col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
