.banner_section {
	height: 100vh;
	position: relative;

	.video_overley {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
	    overflow: hidden;
    	height: 100vh;

		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			margin: auto;
			background-color: $black-clr;
			opacity: 0.4;
			z-index: 1;
		}
		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			width: 21%;
			top: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			box-shadow: 0px 0px 55px 40px $normal-black-clr;
			background-color: $normal-black-clr;
			z-index: 2;
			opacity: 0.95;

			@media(max-width: 1200px){
				width: 15%;
				box-shadow: 0px 0px 45px 30px $normal-black-clr;
			}
			@media(max-width: 991px){
				width: 10%;
			}
			@media(max-width: 768px){
				width: 5%;
			}
		}

		video {
			width: 100%;
			height: auto;

			@media(max-width: 640px){
				height: 100vh;
				width: 100vh;
			}
		}
	}
	.banner_txt {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;

		h2 {
			font-size: 36px;
			color: $white-clr;

			@media(max-width: 1200px){
				font-size: 32px;
			}
			@media(max-width: 991px){
				font-size: 28px;
			}
			@media(max-width: 768px){
				font-size: 26px;
			}
			@media(max-width: 767px){
				padding-right: 50px;
				font-size: 24px;
			}
			@media(max-width: 640px){
				font-size: 22px;
			}
			@media(max-width: 479px){
				font-size: 20px;
			}
		}
		h4 {
			font-size: 18px;
			color: $white-clr;
			padding-bottom: 15px;

			@media(max-width: 991px){
				font-size: 16px;
			}
			@media(max-width: 479px){
				font-size: 14px;
			}
		}
	}
	.icon-play {
		font-weight: 500;
		font-size: 18px;
		color: $white-clr;
		padding-left: 60px;
		line-height: 50px;
		background-image: url('../image/play-icon.png');
		@include background-img;
		background-position: center left;
		background-size: 45px;
		cursor: pointer;

		@media(max-width: 767px){
			margin-top: 30px;
		}
	}
	.col-md-6.text-center {
		@media(max-width: 767px){
			text-align: left !important;
		}
	}
	.social_share {
		position: absolute;
		right: -155px;
		top: 50%;
		z-index: 999;
	    transform: rotate(90deg);
		padding: 0;

		@media(max-width: 991px){
			right: -125px;
		}

		ul {
			display: flex;
			max-width: 400px;
			padding: 0;
			li {
				a {
					font-size: 16px;
				    color: #ffffff;
				    border-radius: 5px;
				    padding: 10px 25px;
				    margin: 0 5px;
				    border: 1px solid transparent;
				    text-decoration: none;
				    transition: 0.3s ease-in-out;

				    &:hover {
						background-color: $white-clr;
						border-color: $white-clr;
						color: $black-clr;
					}

					@media(max-width: 991px){
						font-size: 14px;
						margin-left: 0;
						margin-bottom: 15px;
						padding: 10px 15px;
					}
				}
			}
		}
	}
}
