footer {
	padding: 30px 0;
	background-color: $theme-clr;

	@media(max-width: 1200px){
		padding: 20px 0;
	}
	@media(max-width: 991px){
		padding: 15px 0;
	}
	@media(max-width: 767px){
		text-align: center;
	}

	.col-md-4 {
		text-align: center;
	}

	.widget {
		margin: 0;
	}

	.widget_media_image {
		text-align: center;
		
		img {
			max-width: 250px !important;

			@media(max-width: 991px){
				max-width: 200px !important;
			}

			@media(max-width: 991px){
				margin: 15px auto;
			}
		}
	}

	a {
		text-decoration: $none;
		font-weight: $semi-bold;
		color: $light-grey-txt !important;
		font-size: 18px;

		@media(max-width: 12px){
			font-size: 16px;
		}
		@media(max-width: 991px){
			font-size: 15px;
		}
		@media(max-width: 768px){
			font-size: 14px;
		}
	}

	ul {
		display: flex;
		justify-content: flex-end;

		li {			
			margin-left: 30px;

			@media(max-width: 767px){
				margin: 0 15px;
			}
		}

		@media(max-width: 767px){
			padding: 0;
			justify-content: center;
		}
	}
	.row {
		align-items: center;
	}
}