ul, ol {
	margin:  0;

	li {
		list-style: none;
	}
}
h1, h2, h3, h4, h5, h6, p, label, span, a {
	line-height: normal;
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	overflow-x: hidden;

	.container {
		max-width: 1200px;
	}

}
.post, .page {
	margin: 0;
}
.sec_title {
	color: $theme-clr;
	font-size: 34px;
	padding-bottom: 15px;

	&.white_title {
		color: $white-clr;
	}

	@media(max-width: 1200px){
    	font-size: 30px;
    }
    @media(max-width: 991px){
    	font-size: 28px;
    }
    @media(max-width: 767px){
    	font-size: 26px;
    }
}
.text_content {
	p {
		font-size: 20px;
		line-height: 34px;
		color: $theme-clr;
		margin-bottom: 15px;

		@media(max-width: 991px){
	    	font-size: 16px;
	    	line-height: 28px;
	    }
	    @media(max-width: 767px){
	    	font-size: 14px;
	    	line-height: 22px;
	    }
	}
	&.white_title {
		p {
			color: $white-clr;
		}
	}
	&.grey_txt {
		p {
			font-size: 18px;
			line-height: 32px;
			color: $grey-txt;

			@media(max-width: 991px){
		    	font-size: 16px;
		    	line-height: 28px;
		    }
		    @media(max-width: 767px){
		    	font-size: 14px;
		    	line-height: 22px;
		    }
		}
	}
}
.sec_padding {
	padding: 60px 0;

	@media(max-width: 1200px){
		padding: 50px 0;
	}
	@media(max-width: 991px){
		padding: 40px 0;
	}
	@media(max-width: 767px){
		padding: 30px 0;
	}
}
.theme_bg {
	background-color: $theme-clr;
}
a.coman_btn {
	border-radius: $btn-radius;
	border: 1px solid #000;
	font-weight: $medium;
	font-size: 16px;
	text-decoration: $none;
	color: $theme-clr;
	padding: 15px 30px;
	margin-top: 30px;
	display: flex;
    width: fit-content;
    transition: $coman-transition;

    &:hover {
    	background-color: $theme-clr;
    	color: $white-clr;
    }

    @media(max-width: 767px){
    	font-size: 14px;
    	padding: 12px 30px;
    	margin-top: 20px;
    }
}