header {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	z-index: 9;
	padding: 20px 0;

	@media(max-width: 767px) {
		padding: 15px 0;
	}

	.logo_link {
		max-width: 250px;
	}
	.col-4 {
		flex: 0 0 250px;
		max-width: 250px;

		@media(max-width: 640px) {
			flex: 0 0 200px;
			max-width: 200px;
		}
	}
	.col-8 {
		flex: 0 0 calc(100% - 250px);
		max-width: calc(100% - 250px);

		@media(max-width: 640px) {
			flex: 0 0 calc(100% - 200px);
			max-width: calc(100% - 200px);
		}
	}
	.custom_menu {
		.nav_btn {
			display: none;
			background-image: url('../image/navbar-icon.svg');
			@include background-img;
			background-color: transparent;

			@media(max-width: 991px){
				display: flex;
				padding: 0;
				border: $none;
				outline: $none;
				height: 30px;
				width: 40px;
			}
		}
		.nav_close_btn {
			position: fixed;
		    top: -100px;
		    right: -100px;
			display: flex;
			padding: 0;
			border: $none;
			outline: $none;
			background-color: transparent;
			visibility: hidden;
			opacity: 0;
			height: 30px;
			width: 30px;
			background-image: url('../image/navbar-close-icon.svg');
			@include background-img;
		}
		&.menu_open {
			.nav_close_btn {
				@media(max-width: 991px){
					right: 30px;
		    		top: 30px;
					visibility: visible;
					opacity: 1;
					z-index: 999;
					transition: $slow-transition;
				}
			}
			.nav_btn {
				display: $none;
			}
		}
		ul.nav {
			li {
				.nav-link {
					font-size: 16px;
					color: $white-clr;
					border-radius: $btn-radius;
					margin-left: 10px;
					padding: 10px 30px;
					border: 1px solid transparent;
					transition: $coman-transition;
					text-decoration: $none;

					&:hover {
						color: $white-clr;
						border-color: $white-clr;
					}

					@media(max-width: 991px){
						font-size: 14 px;
						margin-left: 0;
						margin-bottom: 15px;
					}
				}
				&:last-child {
					.nav-link {
						margin-left: 20px;
						background-color: $white-clr;
						color: $black-clr;

						&:hover {
							color: $white-clr;
							background-color: transparent;
						}
					}

					@media(max-width: 991px){
						margin-left: 0;
						margin-top: 10px;
					}
				}

				@media(max-width: 991px){
					display: flex;
				    flex: 0 0 100%;
				    height: auto;
				}
			}

			@media(max-width: 991px){
				max-width: 0;
				visibility: hidden;
				opacity: 0;
				border-top-left-radius: 100%;
				border-bottom-left-radius: 100%;
				position: fixed;
				top: 0;
				right: 0;
				height: 0;
				margin: auto;
				background-color: $theme-clr;
				align-items: flex-start;
				align-content: flex-start;
				padding: 70px 30px 30px;
				transition: $medium-transition;
			}
		}
		&.menu_open {
			ul.nav {
				@media(max-width: 991px){
					max-width: 100%;
					visibility: visible;
					opacity: 1;					
					bottom: auto;
					height: 100%;
					border-radius: 0px;
				}
			}
		}
	}
}
