.dur_material {
	position: relative;
	z-index: 1;

	.about_img {
		height: calc(100% + 100px);
		margin-top: -150px;
	    
	    &:before {
	    	content: '';
	    	display: inline-block;
	    	position: absolute;
	    	left: auto;
	    	right: 0;
	    	bottom: 0;
	    	width: 35%;
	    	height: 200px;
	    	background-color: $theme-clr;
	    	z-index: -1;

	    	@media(max-width: 1200px){
				height: 150px;
			}
			@media(max-width: 767px){
				display: $none;
			}
	    }

		img {
			max-width: 450px;
			width: 100%;
			height: 100%;
			object-fit: cover;

			@media(max-width: 1200px){
				max-width: 400px;
			}
			@media(max-width: 767px){
				margin: 0 auto 30px;
				height: auto;
			}
		}

		@media(max-width: 1200px){
			margin-top: -100px;
			height: calc(100% + 50px);
		}
		@media(max-width: 7680px){
			margin-top: 0;
			height: 100%;
		}
	}
	.text_content {
		padding-right: 100px;

		@media(max-width: 991px){
			padding-right: 50px;
		}
		@media(max-width: 767px){
			padding-right: 0px;
		}
	}

	@media(max-width: 767px){
		.col-md-6.order-2 {
			order: 1 !important;
		}
		.col-md-6.order-1 {
			order: 2 !important;
		}
	}
}
.how_it_work_sec {
	.how_box {
		margin-bottom: 30px;

		@media(max-width: 991px){
			margin-bottom: 20px;
		}
		@media(max-width: 767px){
			margin-bottom: 15px;
		}
	}
	.sec_title  {
		padding-bottom: 10px;
		font-size: 28px;

		@media(max-width: 1200px){
			font-size: 24px;
			padding-bottom: 5px;
		}
		@media(max-width: 991px){
			font-size: 22px;
		}
		@media(max-width: 768px){
			font-size: 20px;
		}
		@media(max-width: 640px){
			font-size: 18px;
		}
	}
	.how_img {
		padding-right: 100px;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 50%);

			@media(max-width: 767px){
				max-width: 60%;
				display: block;
				height: auto;
				margin: 0 auto 30px;
			}
			@media(max-width: 640px){
				max-width: 75%;
			}
			@media(max-width: 567px){
				max-width: 80%;
			}
			@media(max-width: 479px){
				max-width: 100%;
			}
		}

		@media(max-width: 1200px){
			padding-right: 50px;
		}
		@media(max-width: 991px){
			padding-right: 0px;
		}
	}
	.col-md-6.sub_col {
		flex: 0 0 50%;
		max-width: 50%;

		@media(max-width: 479px){
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}