$my-font-family: opan-sans;

$white-clr: #ffffff;
$black-clr: #000000;
$normal-black-clr: #333333;
$theme-clr: #222f33;
$light-grey-txt: #c7c7c7;
$grey-txt: #777777;
$none: none;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

$coman-transition: 0.3s ease-in-out;
$medium-transition: 0.5s ease-in-out;
$slow-transition: 1s ease-in-out;
$btn-radius: 5px;


/**************** Mixin ********************/
@mixin background-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}